# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/*.xcworkspace/

*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/

xcuserdata/
*.xcuserdatad/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.podspec

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Build results
build/
*.build.log

# Temporary files
*.swp
*.swo
*~
